<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de conta</title>
</head>
<style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

    *{
        padding: 0;
        margin: auto;
    }

    body{
        background-color:rgb(50, 184, 189);
    }
    .conteiner{
        margin-top: 15%;
        margin-left: 36%;
    }

    .conteiner h1{
        font-family: 'Playfair Display', serif;
        color: white;
        font-size: 4rem;
    }
    .conteiner p{
        font-size: 1.8rem;
        color:rgb(255, 255, 255);
    }
</style>
<body>

    <div class="conteiner">
        <h1>Prontinho!</h1>
        <p>Seu cadastro foi confirmado com sucesso!</p>
        <p>Agora já pode acessar a sua conta :)</p>
    </div>
</body>
</html>